body{
font-family: "Roboto";
}

.body-container{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    align-items: center;
}

.body-left-side{
    width: 450px;
}

.body-title{
    font-size: 48px;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
}

.body-subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.signup-btn{
    background-color: #3b82f6;
    font-size: 18px;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 9px;
    padding: 7px 30px 7px 30px;
    transition: opacity 0.10s;
}

.signup-btn:hover{
    opacity: 0.7;
}

.signup-btn:active{
    opacity: 0.5;
}

.image-container{
   height: 314px;
    
}
