.fourth-container{
    padding: 0 0 0 0;
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-shape{
    height: 130px;
    width: 1000px;
    background-color: #3b82f6;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.left-text{
    font-weight: 900;
    font-size: 20px;
    color: white;
}

.left-subtext{
    font-size: 18px;
    color: #bbcded;
}

.right-side{
    display: flex;
    align-items: center;
}

.right-btn{
   border-style: solid;
   border-color: white;
   background-color: #3b82f6;
   color: white;
   padding: 5px 35px 5px 35px;
   font-size: 16px;
   font-weight: 900;
   border-radius: 8px;
   transition: opacity 0.1s, background-color 0.10s;
}

.right-btn:hover{
    background-color: white;
    color: #3b82f6;
}

.right-btn:active{
    opacity: 0.7;
}