.second-container{
    
   padding: 0 0 0 0;
   background-color: white;
   height: 550px;
   
}

.random-info{
    display: flex;
    font-size: 36px;
    color: #1F2937;
    padding-top: 60px;
    justify-content: center;
    font-weight: 900;
    margin-bottom: 50px;
    
}
.mainbox-shape{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;    
}


.box-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.shape-one{
    margin-bottom: 20px;
    height: 160px;
    width: 150px;
    border-style: solid;
    border-color: #3b82f6;
    border-radius: 15px;
}

.text-one{
    width: 150px;
    text-align: center;
    color: rgb(63, 58, 58);
}